<mat-card class="modern-card">
  <mat-card-header class="header-style">
    <mat-card-title>
      <mat-icon class="card-title-icon material-icons-outlined">pie_chart</mat-icon> Student Demographics
    </mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>refresh</mat-icon>
        <span>Refresh Data</span>
      </button>
      <button mat-menu-item>
        <mat-icon>filter_alt</mat-icon>
        <span>Filter Year</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content class="p-0">
    <div class="p-3">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [labels]="chartOptions.labels!"
        [colors]="chartOptions.colors!"
        [dataLabels]="chartOptions.dataLabels!"
        [legend]="chartOptions.legend!"
        [tooltip]="chartOptions.tooltip!"
        [responsive]="chartOptions.responsive!">
      </apx-chart>
    </div>
  </mat-card-content>
</mat-card>
